[submodule "submodules/relevance/etc"]
	path = submodules/relevance/etc
	url = git@github.com:relevance/etc.git
[submodule "submodules/remvee/elein"]
	path = submodules/remvee/elein
	url = https://github.com/remvee/elein.git
[submodule "submodules/crafterm/twilight-emacs"]
	path = submodules/crafterm/twilight-emacs
	url = https://github.com/crafterm/twilight-emacs.git
