[submodule "submodules/relevance/etc"]
	path = submodules/relevance/etc
	url = git@github.com:relevance/etc.git
[submodule "submodules/remvee/elein"]
	path = submodules/remvee/elein
	url = https://github.com/remvee/elein.git
[submodule "submodules/crafterm/twilight-emacs"]
	path = submodules/crafterm/twilight-emacs
	url = git@github.com:stuartsierra/twilight-emacs.git
[submodule "submodules/clojure-mode"]
	path = submodules/clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
[submodule "submodules/find-file-in-project"]
	path = submodules/find-file-in-project
	url = https://github.com/technomancy/find-file-in-project.git
