[user]
        name = Stuart Sierra
        useConfigOnly = true
[alias]
	st = status
	amend = commit --amend --no-edit
	br = branch
	ba = branch -a
	co = checkout
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	ls = ls-files
	# Show files ignored by git:
	ignored = ls-files -o -i --exclude-standard
	fpl = push --force-with-lease
	reup = !git fetch && git rebase origin/master
	wip = !git add . && git commit -m "WIP"
        # Push branch to origin with same name as local branch
        pu = !ref="$(git symbolic-ref HEAD 2>/dev/null)" && branch="${ref##refs/heads/}" && git push -u origin "${branch}:${branch}"
[color]
	ui = true
[push]
	default = simple
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[core]
	editor = ~/bin/edit
	excludesfile = ~/.gitignore_global
