*.elc
*~
.emacs.d/elpa
.emacs.d/helm-adaptive-history
.emacs.d/stuart.el
.emacs.d/vendor/org-mode
.emacs.d/magit
.emacs.d/local.el
.emacs.d/recentf
.emacs.d/eshell
.emacs.d/ido.last
.emacs.d/.mc-lists.el
.emacs.d/games/
.emacs.d/network-security.data
.emacs.d/url
.org-id-locations
*.tar.gz
*.zip
